# Ignore the entire virtual environment directory
backend/venv/

# Ignore all Python pycache files
backend/**/__pycache__/

# Ignore the frontend node_modules directory
frontend/node_modules/

# ignore environment variable files
*.env
*.env.local
*.env.*.local