trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureSubscription: 'AzureConnection'
  location: 'eastus'
  resourceGroupName: 'MartaPoetryRG'

stages:
- stage: CreateResourceGroup
  displayName: "Create Resource Group"
  jobs:
  - job: DeployResourceGroup
    displayName: "Deploy Resource Group (Subscription Level)"
    steps:
    - task: AzureCLI@2
      displayName: "Deploy Resource Group"
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az deployment sub create \
          --location $(location) \
          --template-file bicep/resource-group.bicep \
          --parameters location=$(location) resourceGroupName=$(resourceGroupName)

- stage: DeployInfrastructure
  displayName: "Deploy All Other Azure Resources"
  dependsOn: CreateResourceGroup
  jobs:
  - job: DeployBicepModules
    displayName: "Deploy Azure Components (Resource Group Level)"
    steps:
    - task: AzureCLI@2
      displayName: "Deploy Bicep Modules"
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az deployment group create \
          --resource-group $(resourceGroupName) \
          --template-file bicep/main.bicep \
          --parameters location=$(location) resourceGroupName=$(resourceGroupName)
